<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link"
            routerLink="/recipes"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
          >
            Recipes
          </a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a
            class="nav-link"
            routerLink="/auth"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
          >
            Authenticate
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
          >
            Shopping List
          </a>
        </li>
        <li class="nav-item" ngbDropdown *ngIf="isAuthenticated">
          <a role="button" class="nav-link" ngbDropdownToggle>Manage</a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a ngbDropdownItem (click)="onSaveData()">Save Data</a>
            <a ngbDropdownItem (click)="onFetchData()">Fetch Data</a>
            <a ngbDropdownItem (click)="onLogout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
